/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.7);
    color: white;
    z-index: 1000;
    transition: 0.3s;
}

.navbar.scrolled {
    background: black;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    color: gold;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('https://scontent.fuio5-1.fna.fbcdn.net/v/t39.30808-6/485380643_679914874596895_5258580508338368719_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=107&ccb=1-7&_nc_sid=2a1932&_nc_eui2=AeG06tsZamATDODtR3qv4FoVJFWhEvqeNJMkVaES-p40k6J0gdh9sibQYCqbcvDaztOUdRME7t0uE2rR665ev4H2&_nc_ohc=5bRda1D7Il8Q7kNvwGnriHL&_nc_oc=Adp-O9O94QqnpcxaWcC9Yk5iFbeKtX6OI8oKY-rA7tAtYnMHIjIg18JIWP6AelKs73k&_nc_zt=23&_nc_ht=scontent.fuio5-1.fna&_nc_gid=ZzHZCiXYXDQEXNoWnphAdw&_nc_ss=7a3a8&oh=00_Af1HyqU84o34e6dEG_Sy3ao1m0U1P0LudFWCBkLZ2iaN-Q&oe=69DC74C7') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 50px;
    color: white;
}

.hero-content {
    max-width: 600px;
    animation: fadeIn 1.5s ease-in-out;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
}

/* BOTONES */
.buttons {
    margin-top: 20px;
}

.btn {
    background: gold;
    padding: 12px 25px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn-outline {
    border: 2px solid white;
    padding: 12px 25px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

/* SECCIONES */
.section {
    padding: 80px 50px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

/* AGREGA ESTO */
.section p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.section h2 + p {
    margin-bottom: 40px;
}
